body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
table th, table td{
    padding: 10px 30px;
}
table thead tr{
    text-align: left;
}